.jumbotron {
    background-image: url("../assets/images/book.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;    
    padding-top: 20%;
    padding-bottom: 20%;
    position: relative;
}

.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(59, 59, 70, 0.85);
    z-index: 1;
}

.jumbotron > .content {
    position: relative;
    z-index: 2;
    font-family: 'Londrina Outline', cursive;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 100px;
}

