#search {
    text-align: center;
    margin-top: 30px;
    font-family: 'Modak', cursive;
}

#searchDiv {
    width: 100%;
    text-align:center;

}

.card {
    /* margin: 10px; */
    max-width: 700px;
    display: inline-block; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card-footer button{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}