#searchDiv {
    text-align: right;
    margin-right: 20px;
}

.card {
    max-width: 700px;
    display: inline-block; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.card-footer button{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#nav {
    display: inline-block; 
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

#search {
    text-align: center;
}